.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(3rem + env(safe-area-inset-bottom));
  padding: 0.5rem;
  padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.items {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin: 0;
}

.item a {
  -webkit-tap-highlight-color: transparent;
}

.button {
  display: flex;
  align-items: center;
  background: transparent;
  border: transparent;
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
