.title {
  margin: 1.2rem 0 0 0;
  font-size: var(--fontSize-3);
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
  padding: 0;
  list-style: none;
  color: var(--pccs-gy5_5);
}

.info li {
  margin: 0;
}

.info li:not(:first-of-type):before {
  content: "・";
}

@media (max-width: 37.5em) {
  .title {
    font-size: var(--fontSize-1);
    margin: 0.8rem 0 0 0;
  }

  .info {
    margin: 0.6rem 0 0 0;
    font-size: var(--fontSize-0);
  }
}
